#header-nav {
	background-color: #999999;
	border-radius: 0;
	border: 2px solid black;
}
.navbar-brand a {
	color: black;
	font-size: 1.3em;
	font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	color: black;
}